USE [RapidCargoDBFinal]
GO
/****** Object:  Table [dbo].[CARGAUNICA]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CARGAUNICA](
	[IDCARGAUNICA] [int] IDENTITY(1,1) NOT NULL,
	[IDENCOMIENDA] [int] NOT NULL,
	[IDVEHICULO] [int] NOT NULL,
	[NOMBRECONDUCTOR] [varchar](20) NOT NULL,
	[NOMBREALMACENERO] [varchar](20) NULL,
	[ADOMICILIO] [char](1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIUDAD]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIUDAD](
	[IDCIUDAD] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRECIUDAD] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[DNI] [char](8) NOT NULL,
	[CORREOELECTRONICO] [varchar](100) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENCOMIENDA]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENCOMIENDA](
	[IDENCOMIENDA] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOENCOMIENDA] [char](10) NOT NULL,
	[DNICLIENTE] [char](8) NULL,
	[IDRUTA] [int] NOT NULL,
	[FECHAREGISTRO] [datetime] NOT NULL,
	[FECHALLEGADA] [datetime] NOT NULL,
	[NOMBREDESTINATARIO] [varchar](100) NOT NULL,
	[DIRECCIONDESTINATARIO] [varchar](200) NOT NULL,
	[IDSUCURSALORIGEN] [int] NOT NULL,
	[IDSUCURSALDESTINO] [char](10) NULL,
	[IDESTADOENCOMIENDA] [int] NOT NULL,
	[PESO] [decimal](8, 2) NOT NULL,
	[MONTOPAGO] [decimal](8, 2) NOT NULL,
	[DESCRIPCIONENCOMIENDA] [varchar](200) NOT NULL,
	[ADOMICILIO] [bit] NOT NULL,
	[USUARIOCAJERO] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENTREGAUNICA]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENTREGAUNICA](
	[IDENTREGAUNICA] [int] IDENTITY(1,1) NOT NULL,
	[IDENCOMIENDA] [int] NOT NULL,
	[NOMBREUSUARIO] [varchar](20) NOT NULL,
	[FECHAENTREGA] [datetime] NOT NULL,
	[ADOMICILIO] [char](1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESTADOENCOMIENDA]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADOENCOMIENDA](
	[IDESTADOENCOMIENDA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCIONESTADO] [varchar](200) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONA](
	[DNI] [char](8) NOT NULL,
	[NOMBRES] [varchar](100) NOT NULL,
	[APELLIDOS] [varchar](100) NOT NULL,
	[DIRECCION] [varchar](200) NOT NULL,
	[TELEFONO] [varchar](20) NOT NULL,
	[GENERO] [char](1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERSONAL]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONAL](
	[IDPERSONAL] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [char](8) NOT NULL,
	[CORREOCORPORATIVO] [varchar](100) NOT NULL,
	[PERSONALACTIVO] [bit] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RUTAS]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RUTAS](
	[IDRUTA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRERUTA] [varchar](100) NOT NULL,
	[IDCIUDADORIGEN] [int] NOT NULL,
	[IDCIUDADDESTINO] [int] NULL,
	[DESCRIPCIONRUTA] [varchar](200) NULL,
	[RUTAACTIVA] [bit] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[IDSUCURSAL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREAGENCIA] [varchar](100) NOT NULL,
	[DIRECCIONSUCURSAL] [varchar](200) NOT NULL,
	[IDCIUDAD] [int] NOT NULL,
	[SUCURSALACTIVA] [bit] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOUSUARIO]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOUSUARIO](
	[IDTIPOUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOVEHICULO]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOVEHICULO](
	[IDTIPOVEHICULO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCIONTIPOVEHICULO] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[NOMBREUSUARIO] [varchar](20) NOT NULL,
	[CONTRASENA] [varchar](20) NOT NULL,
	[IDTIPOUSUARIO] [int] NOT NULL,
	[IDPERSONAL] [int] NOT NULL,
	[IDSUCURSAL] [int] NOT NULL,
	[USUARIOACTIVO] [bit] NOT NULL,
	[ULTIMASESION] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VEHICULO]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VEHICULO](
	[IDVEHICULO] [int] IDENTITY(1,1) NOT NULL,
	[NUMEROPLACA] [char](7) NOT NULL,
	[IDTIPOVEHICULO] [int] NOT NULL,
	[CAPACIDADKILOS] [decimal](8, 2) NOT NULL,
	[VEHICULOACTIVO] [bit] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CARGAUNICA] ON 

INSERT [dbo].[CARGAUNICA] ([IDCARGAUNICA], [IDENCOMIENDA], [IDVEHICULO], [NOMBRECONDUCTOR], [NOMBREALMACENERO], [ADOMICILIO]) VALUES (1, 2, 1, N'jade', N'gabe', N'0')
INSERT [dbo].[CARGAUNICA] ([IDCARGAUNICA], [IDENCOMIENDA], [IDVEHICULO], [NOMBRECONDUCTOR], [NOMBREALMACENERO], [ADOMICILIO]) VALUES (2, 3, 1, N'jade', N'gabe', N'0')
INSERT [dbo].[CARGAUNICA] ([IDCARGAUNICA], [IDENCOMIENDA], [IDVEHICULO], [NOMBRECONDUCTOR], [NOMBREALMACENERO], [ADOMICILIO]) VALUES (3, 4, 1, N'jade', N'gabe', N'0')
SET IDENTITY_INSERT [dbo].[CARGAUNICA] OFF
SET IDENTITY_INSERT [dbo].[CIUDAD] ON 

INSERT [dbo].[CIUDAD] ([IDCIUDAD], [NOMBRECIUDAD]) VALUES (1, N'Trujillo')
INSERT [dbo].[CIUDAD] ([IDCIUDAD], [NOMBRECIUDAD]) VALUES (2, N'Lima')
INSERT [dbo].[CIUDAD] ([IDCIUDAD], [NOMBRECIUDAD]) VALUES (3, N'Arequipa')
SET IDENTITY_INSERT [dbo].[CIUDAD] OFF
INSERT [dbo].[CLIENTE] ([DNI], [CORREOELECTRONICO]) VALUES (N'30000001', N'dahliadale@hotmail.com')
INSERT [dbo].[CLIENTE] ([DNI], [CORREOELECTRONICO]) VALUES (N'30000002', N'hollyblack@gmail.com')
INSERT [dbo].[CLIENTE] ([DNI], [CORREOELECTRONICO]) VALUES (N'30000003', N'eroach@hotmail.com')
SET IDENTITY_INSERT [dbo].[ENCOMIENDA] ON 

INSERT [dbo].[ENCOMIENDA] ([IDENCOMIENDA], [CODIGOENCOMIENDA], [DNICLIENTE], [IDRUTA], [FECHAREGISTRO], [FECHALLEGADA], [NOMBREDESTINATARIO], [DIRECCIONDESTINATARIO], [IDSUCURSALORIGEN], [IDSUCURSALDESTINO], [IDESTADOENCOMIENDA], [PESO], [MONTOPAGO], [DESCRIPCIONENCOMIENDA], [ADOMICILIO], [USUARIOCAJERO]) VALUES (1, N'E000000001', N'30000001', 1, CAST(N'2017-11-29 19:27:40.437' AS DateTime), CAST(N'2017-12-03 00:00:00.000' AS DateTime), N'Ciaran Daniel', N'Té Dharamsala', 1, N'2         ', 1, CAST(11.00 AS Decimal(8, 2)), CAST(52.25 AS Decimal(8, 2)), N'Té Dharamsala', 0, N'rawi')
INSERT [dbo].[ENCOMIENDA] ([IDENCOMIENDA], [CODIGOENCOMIENDA], [DNICLIENTE], [IDRUTA], [FECHAREGISTRO], [FECHALLEGADA], [NOMBREDESTINATARIO], [DIRECCIONDESTINATARIO], [IDSUCURSALORIGEN], [IDSUCURSALDESTINO], [IDESTADOENCOMIENDA], [PESO], [MONTOPAGO], [DESCRIPCIONENCOMIENDA], [ADOMICILIO], [USUARIOCAJERO]) VALUES (3, N'E000000003', N'30000001', 1, CAST(N'2017-11-29 19:31:48.313' AS DateTime), CAST(N'2017-12-03 00:00:00.000' AS DateTime), N'Moana Jacobson', N'Sirope de regaliz', 1, N'3         ', 3, CAST(4.00 AS Decimal(8, 2)), CAST(12.00 AS Decimal(8, 2)), N'Sirope de regaliz', 1, N'rawi')
SET IDENTITY_INSERT [dbo].[ENCOMIENDA] OFF
SET IDENTITY_INSERT [dbo].[ENTREGAUNICA] ON 

INSERT [dbo].[ENTREGAUNICA] ([IDENTREGAUNICA], [IDENCOMIENDA], [NOMBREUSUARIO], [FECHAENTREGA], [ADOMICILIO]) VALUES (1, 12, N'nabr', CAST(N'2017-11-29 22:12:02.373' AS DateTime), N'0')
INSERT [dbo].[ENTREGAUNICA] ([IDENTREGAUNICA], [IDENCOMIENDA], [NOMBREUSUARIO], [FECHAENTREGA], [ADOMICILIO]) VALUES (2, 42, N'newo', CAST(N'2017-11-29 22:12:16.560' AS DateTime), N'0')
INSERT [dbo].[ENTREGAUNICA] ([IDENTREGAUNICA], [IDENCOMIENDA], [NOMBREUSUARIO], [FECHAENTREGA], [ADOMICILIO]) VALUES (3, 24, N'drwa', CAST(N'2017-11-29 22:12:36.487' AS DateTime), N'0')
SET IDENTITY_INSERT [dbo].[ENTREGAUNICA] OFF
SET IDENTITY_INSERT [dbo].[ESTADOENCOMIENDA] ON 

INSERT [dbo].[ESTADOENCOMIENDA] ([IDESTADOENCOMIENDA], [DESCRIPCIONESTADO]) VALUES (1, N'Esperando Salida')
INSERT [dbo].[ESTADOENCOMIENDA] ([IDESTADOENCOMIENDA], [DESCRIPCIONESTADO]) VALUES (2, N'En Ruta')
INSERT [dbo].[ESTADOENCOMIENDA] ([IDESTADOENCOMIENDA], [DESCRIPCIONESTADO]) VALUES (3, N'Esperando Entrega')
SET IDENTITY_INSERT [dbo].[ESTADOENCOMIENDA] OFF
INSERT [dbo].[PERSONA] ([DNI], [NOMBRES], [APELLIDOS], [DIRECCION], [TELEFONO], [GENERO]) VALUES (N'10000001', N'Maurizio', N'Vilca', N'Av. Los Fresnos 324', N'945676539', N'M')
INSERT [dbo].[PERSONA] ([DNI], [NOMBRES], [APELLIDOS], [DIRECCION], [TELEFONO], [GENERO]) VALUES (N'10000002', N'Fabio', N'Rodriguez', N'Av. Calagua 4543', N'945649568', N'M')
INSERT [dbo].[PERSONA] ([DNI], [NOMBRES], [APELLIDOS], [DIRECCION], [TELEFONO], [GENERO]) VALUES (N'10000003', N'Milagros', N'Faverio', N'Jr. Vientos Frios 454', N'956464564', N'F')
SET IDENTITY_INSERT [dbo].[PERSONAL] ON 

INSERT [dbo].[PERSONAL] ([IDPERSONAL], [DNI], [CORREOCORPORATIVO], [PERSONALACTIVO]) VALUES (1, N'10000001', N'mavi@rcargo.pe', 1)
INSERT [dbo].[PERSONAL] ([IDPERSONAL], [DNI], [CORREOCORPORATIVO], [PERSONALACTIVO]) VALUES (2, N'10000002', N'faro@rcargo.pe', 0)
INSERT [dbo].[PERSONAL] ([IDPERSONAL], [DNI], [CORREOCORPORATIVO], [PERSONALACTIVO]) VALUES (3, N'10000003', N'mifa@rcargo.pe', 0)
SET IDENTITY_INSERT [dbo].[PERSONAL] OFF
SET IDENTITY_INSERT [dbo].[RUTAS] ON 

INSERT [dbo].[RUTAS] ([IDRUTA], [NOMBRERUTA], [IDCIUDADORIGEN], [IDCIUDADDESTINO], [DESCRIPCIONRUTA], [RUTAACTIVA]) VALUES (1, N'Trujillo-Lima', 1, 2, N'Ruta Norte-Centro', 1)
INSERT [dbo].[RUTAS] ([IDRUTA], [NOMBRERUTA], [IDCIUDADORIGEN], [IDCIUDADDESTINO], [DESCRIPCIONRUTA], [RUTAACTIVA]) VALUES (2, N'Lima-Trujillo', 2, 1, N'Ruta Centro-Norte', 1)
INSERT [dbo].[RUTAS] ([IDRUTA], [NOMBRERUTA], [IDCIUDADORIGEN], [IDCIUDADDESTINO], [DESCRIPCIONRUTA], [RUTAACTIVA]) VALUES (3, N'Arequipa-Lima', 3, 2, N'Ruta Sur-Centro', 1)
SET IDENTITY_INSERT [dbo].[RUTAS] OFF
SET IDENTITY_INSERT [dbo].[SUCURSAL] ON 

INSERT [dbo].[SUCURSAL] ([IDSUCURSAL], [NOMBREAGENCIA], [DIRECCIONSUCURSAL], [IDCIUDAD], [SUCURSALACTIVA]) VALUES (1, N'TrujilloNorte', N'Jr. Pizarro 223', 1, 1)
INSERT [dbo].[SUCURSAL] ([IDSUCURSAL], [NOMBREAGENCIA], [DIRECCIONSUCURSAL], [IDCIUDAD], [SUCURSALACTIVA]) VALUES (2, N'Lima Comas', N'Av. Americana 2323', 2, 1)
INSERT [dbo].[SUCURSAL] ([IDSUCURSAL], [NOMBREAGENCIA], [DIRECCIONSUCURSAL], [IDCIUDAD], [SUCURSALACTIVA]) VALUES (3, N'Lima Surco', N'Jr. Paucar 446', 2, 1)
SET IDENTITY_INSERT [dbo].[SUCURSAL] OFF
SET IDENTITY_INSERT [dbo].[TIPOUSUARIO] ON 

INSERT [dbo].[TIPOUSUARIO] ([IDTIPOUSUARIO], [DESCRIPCION]) VALUES (1, N'Gerente')
INSERT [dbo].[TIPOUSUARIO] ([IDTIPOUSUARIO], [DESCRIPCION]) VALUES (2, N'Cajero')
INSERT [dbo].[TIPOUSUARIO] ([IDTIPOUSUARIO], [DESCRIPCION]) VALUES (3, N'Almacenero')
SET IDENTITY_INSERT [dbo].[TIPOUSUARIO] OFF
SET IDENTITY_INSERT [dbo].[TIPOVEHICULO] ON 

INSERT [dbo].[TIPOVEHICULO] ([IDTIPOVEHICULO], [DESCRIPCIONTIPOVEHICULO]) VALUES (1, N'Bus')
INSERT [dbo].[TIPOVEHICULO] ([IDTIPOVEHICULO], [DESCRIPCIONTIPOVEHICULO]) VALUES (2, N'Minivan')
SET IDENTITY_INSERT [dbo].[TIPOVEHICULO] OFF
INSERT [dbo].[USUARIO] ([NOMBREUSUARIO], [CONTRASENA], [IDTIPOUSUARIO], [IDPERSONAL], [IDSUCURSAL], [USUARIOACTIVO], [ULTIMASESION]) VALUES (N'mavi', N'1234', 1, 1, 1, 1, CAST(N'2017-11-29 22:44:14.080' AS DateTime))
INSERT [dbo].[USUARIO] ([NOMBREUSUARIO], [CONTRASENA], [IDTIPOUSUARIO], [IDPERSONAL], [IDSUCURSAL], [USUARIOACTIVO], [ULTIMASESION]) VALUES (N'faro', N'1234', 1, 2, 2, 0, CAST(N'2017-11-28 18:33:01.700' AS DateTime))
INSERT [dbo].[USUARIO] ([NOMBREUSUARIO], [CONTRASENA], [IDTIPOUSUARIO], [IDPERSONAL], [IDSUCURSAL], [USUARIOACTIVO], [ULTIMASESION]) VALUES (N'mifa', N'1234', 1, 3, 3, 0, CAST(N'2017-11-28 18:38:29.677' AS DateTime))
SET IDENTITY_INSERT [dbo].[VEHICULO] ON 

INSERT [dbo].[VEHICULO] ([IDVEHICULO], [NUMEROPLACA], [IDTIPOVEHICULO], [CAPACIDADKILOS], [VEHICULOACTIVO]) VALUES (1, N'cba-113', 1, CAST(90.00 AS Decimal(8, 2)), 1)
INSERT [dbo].[VEHICULO] ([IDVEHICULO], [NUMEROPLACA], [IDTIPOVEHICULO], [CAPACIDADKILOS], [VEHICULOACTIVO]) VALUES (2, N'fed-438', 1, CAST(100.00 AS Decimal(8, 2)), 1)
INSERT [dbo].[VEHICULO] ([IDVEHICULO], [NUMEROPLACA], [IDTIPOVEHICULO], [CAPACIDADKILOS], [VEHICULOACTIVO]) VALUES (3, N'jhg-271', 1, CAST(80.00 AS Decimal(8, 2)), 1)
SET IDENTITY_INSERT [dbo].[VEHICULO] OFF
/****** Object:  Index [PK_CARGAUNICA]    Script Date: 29/11/2017 22:56:33 ******/
ALTER TABLE [dbo].[CARGAUNICA] ADD  CONSTRAINT [PK_CARGAUNICA] PRIMARY KEY NONCLUSTERED 
(
	[IDCARGAUNICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CIUDAD]    Script Date: 29/11/2017 22:56:33 ******/
ALTER TABLE [dbo].[CIUDAD] ADD  CONSTRAINT [PK_CIUDAD] PRIMARY KEY NONCLUSTERED 
(
	[IDCIUDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ENCOMIENDA]    Script Date: 29/11/2017 22:56:33 ******/
ALTER TABLE [dbo].[ENCOMIENDA] ADD  CONSTRAINT [PK_ENCOMIENDA] PRIMARY KEY NONCLUSTERED 
(
	[IDENCOMIENDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ENTREGAUNICA]    Script Date: 29/11/2017 22:56:33 ******/
ALTER TABLE [dbo].[ENTREGAUNICA] ADD  CONSTRAINT [PK_ENTREGAUNICA] PRIMARY KEY NONCLUSTERED 
(
	[IDENTREGAUNICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ESTADOENCOMIENDA]    Script Date: 29/11/2017 22:56:33 ******/
ALTER TABLE [dbo].[ESTADOENCOMIENDA] ADD  CONSTRAINT [PK_ESTADOENCOMIENDA] PRIMARY KEY NONCLUSTERED 
(
	[IDESTADOENCOMIENDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PERSONA]    Script Date: 29/11/2017 22:56:33 ******/
ALTER TABLE [dbo].[PERSONA] ADD  CONSTRAINT [PK_PERSONA] PRIMARY KEY NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PERSONAL]    Script Date: 29/11/2017 22:56:33 ******/
ALTER TABLE [dbo].[PERSONAL] ADD  CONSTRAINT [PK_PERSONAL] PRIMARY KEY NONCLUSTERED 
(
	[IDPERSONAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UC_PERSONAL]    Script Date: 29/11/2017 22:56:33 ******/
ALTER TABLE [dbo].[PERSONAL] ADD  CONSTRAINT [UC_PERSONAL] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_RUTAS]    Script Date: 29/11/2017 22:56:33 ******/
ALTER TABLE [dbo].[RUTAS] ADD  CONSTRAINT [PK_RUTAS] PRIMARY KEY NONCLUSTERED 
(
	[IDRUTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_SUCURSAL]    Script Date: 29/11/2017 22:56:33 ******/
ALTER TABLE [dbo].[SUCURSAL] ADD  CONSTRAINT [PK_SUCURSAL] PRIMARY KEY NONCLUSTERED 
(
	[IDSUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TIPOUSUARIO]    Script Date: 29/11/2017 22:56:33 ******/
ALTER TABLE [dbo].[TIPOUSUARIO] ADD  CONSTRAINT [PK_TIPOUSUARIO] PRIMARY KEY NONCLUSTERED 
(
	[IDTIPOUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TIPOVEHICULO]    Script Date: 29/11/2017 22:56:33 ******/
ALTER TABLE [dbo].[TIPOVEHICULO] ADD  CONSTRAINT [PK_TIPOVEHICULO] PRIMARY KEY NONCLUSTERED 
(
	[IDTIPOVEHICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_USUARIO]    Script Date: 29/11/2017 22:56:33 ******/
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [PK_USUARIO] PRIMARY KEY NONCLUSTERED 
(
	[NOMBREUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_VEHICULO]    Script Date: 29/11/2017 22:56:33 ******/
ALTER TABLE [dbo].[VEHICULO] ADD  CONSTRAINT [PK_VEHICULO] PRIMARY KEY NONCLUSTERED 
(
	[IDVEHICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARGAUNICA]  WITH CHECK ADD  CONSTRAINT [FK_CARGAUNI_LLEVA_VEHICULO] FOREIGN KEY([IDVEHICULO])
REFERENCES [dbo].[VEHICULO] ([IDVEHICULO])
GO
ALTER TABLE [dbo].[CARGAUNICA] CHECK CONSTRAINT [FK_CARGAUNI_LLEVA_VEHICULO]
GO
ALTER TABLE [dbo].[CARGAUNICA]  WITH CHECK ADD  CONSTRAINT [FK_CARGAUNI_MANIPULA_USUARIO] FOREIGN KEY([NOMBRECONDUCTOR])
REFERENCES [dbo].[USUARIO] ([NOMBREUSUARIO])
GO
ALTER TABLE [dbo].[CARGAUNICA] CHECK CONSTRAINT [FK_CARGAUNI_MANIPULA_USUARIO]
GO
ALTER TABLE [dbo].[CARGAUNICA]  WITH CHECK ADD  CONSTRAINT [FK_CARGAUNI_TRASLADA2_ENCOMIEN] FOREIGN KEY([IDENCOMIENDA])
REFERENCES [dbo].[ENCOMIENDA] ([IDENCOMIENDA])
GO
ALTER TABLE [dbo].[CARGAUNICA] CHECK CONSTRAINT [FK_CARGAUNI_TRASLADA2_ENCOMIEN]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_PUEDE_SER_PERSONA] FOREIGN KEY([DNI])
REFERENCES [dbo].[PERSONA] ([DNI])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_PUEDE_SER_PERSONA]
GO
ALTER TABLE [dbo].[ENCOMIENDA]  WITH CHECK ADD  CONSTRAINT [FK_ENCOMIEN_ENCARGA_CLIENTE] FOREIGN KEY([DNICLIENTE])
REFERENCES [dbo].[CLIENTE] ([DNI])
GO
ALTER TABLE [dbo].[ENCOMIENDA] CHECK CONSTRAINT [FK_ENCOMIEN_ENCARGA_CLIENTE]
GO
ALTER TABLE [dbo].[ENCOMIENDA]  WITH CHECK ADD  CONSTRAINT [FK_ENCOMIEN_ES_DESTIN_RUTAS] FOREIGN KEY([IDRUTA])
REFERENCES [dbo].[RUTAS] ([IDRUTA])
GO
ALTER TABLE [dbo].[ENCOMIENDA] CHECK CONSTRAINT [FK_ENCOMIEN_ES_DESTIN_RUTAS]
GO
ALTER TABLE [dbo].[ENCOMIENDA]  WITH CHECK ADD  CONSTRAINT [FK_ENCOMIEN_HACE_SUCURSAL] FOREIGN KEY([IDSUCURSALORIGEN])
REFERENCES [dbo].[SUCURSAL] ([IDSUCURSAL])
GO
ALTER TABLE [dbo].[ENCOMIENDA] CHECK CONSTRAINT [FK_ENCOMIEN_HACE_SUCURSAL]
GO
ALTER TABLE [dbo].[ENCOMIENDA]  WITH CHECK ADD  CONSTRAINT [FK_ENCOMIEN_PRESENTA_ESTADOEN] FOREIGN KEY([IDESTADOENCOMIENDA])
REFERENCES [dbo].[ESTADOENCOMIENDA] ([IDESTADOENCOMIENDA])
GO
ALTER TABLE [dbo].[ENCOMIENDA] CHECK CONSTRAINT [FK_ENCOMIEN_PRESENTA_ESTADOEN]
GO
ALTER TABLE [dbo].[ENCOMIENDA]  WITH CHECK ADD  CONSTRAINT [FK_ENCOMIEN_REGISTRA_USUARIO] FOREIGN KEY([USUARIOCAJERO])
REFERENCES [dbo].[USUARIO] ([NOMBREUSUARIO])
GO
ALTER TABLE [dbo].[ENCOMIENDA] CHECK CONSTRAINT [FK_ENCOMIEN_REGISTRA_USUARIO]
GO
ALTER TABLE [dbo].[ENTREGAUNICA]  WITH CHECK ADD  CONSTRAINT [FK_ENTREGAU_ENTREGA2_ENCOMIEN] FOREIGN KEY([IDENCOMIENDA])
REFERENCES [dbo].[ENCOMIENDA] ([IDENCOMIENDA])
GO
ALTER TABLE [dbo].[ENTREGAUNICA] CHECK CONSTRAINT [FK_ENTREGAU_ENTREGA2_ENCOMIEN]
GO
ALTER TABLE [dbo].[ENTREGAUNICA]  WITH CHECK ADD  CONSTRAINT [FK_ENTREGAU_REALIZA_USUARIO] FOREIGN KEY([NOMBREUSUARIO])
REFERENCES [dbo].[USUARIO] ([NOMBREUSUARIO])
GO
ALTER TABLE [dbo].[ENTREGAUNICA] CHECK CONSTRAINT [FK_ENTREGAU_REALIZA_USUARIO]
GO
ALTER TABLE [dbo].[PERSONAL]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAL_SE_CONTRA_PERSONA] FOREIGN KEY([DNI])
REFERENCES [dbo].[PERSONA] ([DNI])
GO
ALTER TABLE [dbo].[PERSONAL] CHECK CONSTRAINT [FK_PERSONAL_SE_CONTRA_PERSONA]
GO
ALTER TABLE [dbo].[RUTAS]  WITH CHECK ADD  CONSTRAINT [FK_RUTAS_SE_HACEN_CIUDAD] FOREIGN KEY([IDCIUDADORIGEN])
REFERENCES [dbo].[CIUDAD] ([IDCIUDAD])
GO
ALTER TABLE [dbo].[RUTAS] CHECK CONSTRAINT [FK_RUTAS_SE_HACEN_CIUDAD]
GO
ALTER TABLE [dbo].[SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_SUCURSAL_FUNCIONA__CIUDAD] FOREIGN KEY([IDCIUDAD])
REFERENCES [dbo].[CIUDAD] ([IDCIUDAD])
GO
ALTER TABLE [dbo].[SUCURSAL] CHECK CONSTRAINT [FK_SUCURSAL_FUNCIONA__CIUDAD]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ES_PARTE__SUCURSAL] FOREIGN KEY([IDSUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([IDSUCURSAL])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ES_PARTE__SUCURSAL]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERTENECE_TIPOUSUA] FOREIGN KEY([IDTIPOUSUARIO])
REFERENCES [dbo].[TIPOUSUARIO] ([IDTIPOUSUARIO])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_PERTENECE_TIPOUSUA]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_TIENE2_PERSONAL] FOREIGN KEY([IDPERSONAL])
REFERENCES [dbo].[PERSONAL] ([IDPERSONAL])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_TIENE2_PERSONAL]
GO
ALTER TABLE [dbo].[VEHICULO]  WITH CHECK ADD  CONSTRAINT [FK_VEHICULO_SE_CLASIF_TIPOVEHI] FOREIGN KEY([IDTIPOVEHICULO])
REFERENCES [dbo].[TIPOVEHICULO] ([IDTIPOVEHICULO])
GO
ALTER TABLE [dbo].[VEHICULO] CHECK CONSTRAINT [FK_VEHICULO_SE_CLASIF_TIPOVEHI]
GO
/****** Object:  StoredProcedure [dbo].[spAsignarCargaBus]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAsignarCargaBus] 
	@prmintIdEncomienda int,
	@prmintIdVehiculo int,
	@prmstrNombreconductor varchar(20),
	@prmstrNombreAlmacenero varchar(20)
as
INSERT INTO CARGAUNICA VALUES (@prmintIdEncomienda,@prmintIdVehiculo,@prmstrNombreconductor,@prmstrNombreAlmacenero,0)
UPDATE ENCOMIENDA SET IDESTADOENCOMIENDA = 2 WHERE IDENCOMIENDA = @prmintIdEncomienda


GO
/****** Object:  StoredProcedure [dbo].[spAsignarCargaDomicilio]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAsignarCargaDomicilio]
	@prmintIdEncomienda int,
	@prmintIdVehiculo int,
	@prmstrNombreconductor varchar(20),
	@prmstrNombreAlmacenero varchar(20)
AS
INSERT INTO CARGAUNICA VALUES (@prmintIdEncomienda,@prmintIdVehiculo,@prmstrNombreconductor,@prmstrNombreAlmacenero,1)
UPDATE ENCOMIENDA SET IDESTADOENCOMIENDA = 5 WHERE IDENCOMIENDA = @prmintIdEncomienda


GO
/****** Object:  StoredProcedure [dbo].[spCrearCliente]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCrearCliente] 
@prmstrDniCliente char(8),
@prmstrNombresCliente varchar(100),
@prmstrApellidosCliente varchar(100),
@prmstrDireccionCliente varchar(200),
@prmstrTelefonoCliente varchar(20),
@prmstrCorreoElectronicoCliente varchar(100),
@prmBoolGeneroCliente char(1)
as

	DECLARE @intPersona int = 0

	SELECT @intPersona = ISNULL(DNI, 0)
	FROM PERSONA
	WHERE DNI=@prmstrDniCliente 

	INSERT INTO Persona(DNI,Nombres, Apellidos,DIRECCION,TELEFONO,GENERO)
	SELECT @prmstrDniCliente, @prmstrNombresCliente,@prmstrApellidosCliente,@prmstrDireccionCliente,@prmstrTelefonoCliente,@prmBoolGeneroCliente
	WHERE @intPersona = 0

	INSERT INTO CLIENTE (DNI,CORREOELECTRONICO)
	VALUES (@prmstrDniCliente,@prmstrCorreoElectronicoCliente)



GO
/****** Object:  StoredProcedure [dbo].[spCrearPersonal]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCrearPersonal] 
@prmstrDniPersonal varchar(8),
@prmstrNombresPersonal varchar(100),
@prmstrApellidosPersonal varchar(100),
@prmstrDireccionPersonal varchar(200),
@prmstrTelefono varchar(20),
@prmstrCorreoCorporativo varchar(100),
@prmstrGenero char(1),
@prmstrNombreUsuario varchar(20),
@prmstrContrasena varchar(20),
@prmintIdTipoUsuario int,
@prmintIdSucursal int
as

	DECLARE @intPersona int = 0

	SELECT @intPersona = ISNULL(DNI, 0)
	FROM PERSONA
	WHERE DNI=@prmstrDniPersonal 

	INSERT INTO Persona(DNI,Nombres, Apellidos,DIRECCION,TELEFONO,GENERO)
	SELECT @prmstrDniPersonal, @prmstrNombresPersonal,@prmstrApellidosPersonal,@prmstrDireccionPersonal,@prmstrTelefono,@prmstrGenero
	WHERE @intPersona = 0

	INSERT INTO PERSONAL(DNI,CORREOCORPORATIVO,PERSONALACTIVO)
	VALUES (@prmstrDniPersonal,@prmstrCorreoCorporativo,1)

	INSERT INTO USUARIO (NOMBREUSUARIO,CONTRASENA,IDTIPOUSUARIO,IDPERSONAL,IDSUCURSAL,USUARIOACTIVO,ULTIMASESION)
	VALUES (@prmstrNombreUsuario,@prmstrContrasena,@prmintIdTipoUsuario,@@IDENTITY,@prmintIdSucursal,1,getDate())


GO
/****** Object:  StoredProcedure [dbo].[spCrearRuta]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCrearRuta]
@prmstrNombreRuta varchar(100),
@prmintIdCiudadOrigen int,
@prmintIdCiudadDestino int,
@prmstrDescripcionRuta varchar(200)
as
INSERT INTO RUTAS (NOMBRERUTA,IDCIUDADORIGEN,IDCIUDADDESTINO,DESCRIPCIONRUTA,RUTAACTIVA) 
VALUES (@prmstrNombreRuta,@prmintIdCiudadOrigen,@prmintIdCiudadDestino,@prmstrDescripcionRuta,1)



GO
/****** Object:  StoredProcedure [dbo].[spCrearVehiculo]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCrearVehiculo]
@prmstrNumeroPlaca char(7),
@prmintIdTipoVehiculo int,
@prmfloatCapacidadKilos float
as
INSERT INTO VEHICULO(NUMEROPLACA,IDTIPOVEHICULO,CAPACIDADKILOS,VEHICULOACTIVO) 
VALUES (@prmstrNumeroPlaca,@prmintIdTipoVehiculo,@prmfloatCapacidadKilos,1)



GO
/****** Object:  StoredProcedure [dbo].[spDevolverCliente]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDevolverCliente] 
@prmstrDNI char(8)
as
SELECT CORREOELECTRONICO,P.NOMBRES,P.APELLIDOS,P.DIRECCION,P.TELEFONO,P.GENERO,P.DNI FROM CLIENTE 
 INNER JOIN PERSONA P ON P.DNI = CLIENTE.DNI
 WHERE CLIENTE.DNI = @prmstrDNI


GO
/****** Object:  StoredProcedure [dbo].[spDevolverEncomienda]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDevolverEncomienda]
	@prmcodigoEncomienda char(10)
as
SELECT e.IDENCOMIENDA,e.CODIGOENCOMIENDA,c.DNI,p.NOMBRES AS NOMBRESCLIENTE,p.APELLIDOS AS APELLIDOSCLIENTE,
		r.NOMBRERUTA,e.FECHAREGISTRO, eu.FECHAENTREGA, pp.NOMBRES, pp.APELLIDOS, s.NOMBREAGENCIA AS AGENCIAORIGEN,
		d.NOMBREAGENCIA AS AGENCIADESTINO,e.NOMBREDESTINATARIO,es.DESCRIPCIONESTADO FROM ENCOMIENDA e
	
	LEFT JOIN ENTREGAUNICA eu ON e.IDENCOMIENDA = eu.IDENCOMIENDA
	LEFT JOIN USUARIO u ON eu.NOMBREUSUARIO = u.NOMBREUSUARIO
	LEFT JOIN PERSONAL pe ON u.IDPERSONAL = pe.IDPERSONAL
	LEFT JOIN PERSONA pp ON pe.DNI = pp.DNI

	INNER JOIN RUTAS r ON e.IDRUTA = r.IDRUTA
	INNER JOIN SUCURSAL s ON e.IDSUCURSALORIGEN = s.IDSUCURSAL
	INNER JOIN SUCURSAL d ON e.IDSUCURSALDESTINO = d.IDSUCURSAL
	INNER JOIN ESTADOENCOMIENDA es ON e.IDESTADOENCOMIENDA = es.IDESTADOENCOMIENDA
	INNER JOIN CLIENTE c ON e.DNICLIENTE = c.DNI
	INNER JOIN PERSONA p ON p.DNI = c.DNI
	
WHERE e.CODIGOENCOMIENDA = @prmcodigoEncomienda 


GO
/****** Object:  StoredProcedure [dbo].[spDevolverEntrega]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[spDevolverEntrega]
	@prmcodigoEncomienda char(10)
as
SELECT e.CODIGOENCOMIENDA,pe.NOMBRES,pe.APELLIDOS,FECHAENTREGA,eu.ADOMICILIO
FROM ENTREGAUNICA eu
INNER JOIN ENCOMIENDA e ON e.CODIGOENCOMIENDA = @prmcodigoEncomienda
INNER JOIN USUARIO u ON u.NOMBREUSUARIO = eu.NOMBREUSUARIO
INNER JOIN PERSONAL p ON p.IDPERSONAL = u.IDPERSONAL
INNER JOIN PERSONA pe ON pe.DNI = p.DNI


GO
/****** Object:  StoredProcedure [dbo].[spEliminarPersonal]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[spEliminarPersonal]
 @prmintIdPersonal int
 as
 UPDATE PERSONAL set PERSONALACTIVO = 0 where IDPERSONAL = @prmintIdPersonal

 UPDATE USUARIO set USUARIOACTIVO = 0 where IDPERSONAL = @prmintIdPersonal


GO
/****** Object:  StoredProcedure [dbo].[spEliminarRuta]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarRuta]
@prmintIdRuta int
as
UPDATE RUTAS set RUTAACTIVA = 0 where IDRUTA = @prmintIdRuta



GO
/****** Object:  StoredProcedure [dbo].[spEliminarVehiculo]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[spEliminarVehiculo]
@prmintIdVehiculo int
as
UPDATE VEHICULO set VEHICULOACTIVO = 0 where IDVEHICULO = @prmintIdVehiculo


GO
/****** Object:  StoredProcedure [dbo].[spEntregarEnDomicilio]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEntregarEnDomicilio] 
	@prmstrNombreUsuario varchar(20),
	@prmintIdEncomienda int
AS
INSERT INTO ENTREGAUNICA (NOMBREUSUARIO,IDENCOMIENDA,FECHAENTREGA,ADOMICILIO) VALUES 
						(@prmstrNombreUsuario,@prmintIdEncomienda,GETDATE(),1)
UPDATE ENCOMIENDA SET IDESTADOENCOMIENDA = 4 WHERE IDENCOMIENDA = @prmintIdEncomienda 


GO
/****** Object:  StoredProcedure [dbo].[spEntregarEnSucursal]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEntregarEnSucursal]
	@prmstrNombreUsuario varchar(20),
	@prmintIdEncomienda int
as
INSERT INTO ENTREGAUNICA (NOMBREUSUARIO,IDENCOMIENDA,FECHAENTREGA,ADOMICILIO) VALUES 
						(@prmstrNombreUsuario,@prmintIdEncomienda,GETDATE(),0)
UPDATE ENCOMIENDA SET IDESTADOENCOMIENDA = 4 WHERE IDENCOMIENDA = @prmintIdEncomienda 


GO
/****** Object:  StoredProcedure [dbo].[spListarBuses]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarBuses]
as
SELECT IDVEHICULO, NUMEROPLACA FROM VEHICULO WHERE IDTIPOVEHICULO = 1 AND VEHICULOACTIVO = 1


GO
/****** Object:  StoredProcedure [dbo].[spListarChoferes]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarChoferes]
as
SELECT NOMBREUSUARIO from USUARIO WHERE IDTIPOUSUARIO = 4 AND USUARIOACTIVO = 1


GO
/****** Object:  StoredProcedure [dbo].[spListarCiudad]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarCiudad]
as
SELECT IDCIUDAD,NOMBRECIUDAD FROM CIUDAD


GO
/****** Object:  StoredProcedure [dbo].[spListarEncomiendas]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarEncomiendas]
AS
SELECT e.IDENCOMIENDA,e.CODIGOENCOMIENDA,p.DNI,p.NOMBRES,p.APELLIDOS,r.NOMBRERUTA,e.FECHAREGISTRO,s.NOMBREAGENCIA,
		d.NOMBREAGENCIA,e.NOMBREDESTINATARIO,es.DESCRIPCIONESTADO,e.DIRECCIONDESTINATARIO 
FROM ENCOMIENDA e
	INNER JOIN CLIENTE c ON c.DNI = e.DNICLIENTE 
	INNER JOIN PERSONA p ON p.DNI = c.DNI
	INNER JOIN RUTAS r ON e.IDRUTA = r.IDRUTA
	INNER JOIN SUCURSAL s ON e.IDSUCURSALORIGEN = s.IDSUCURSAL
	INNER JOIN SUCURSAL d ON e.IDSUCURSALDESTINO = d.IDSUCURSAL
	INNER JOIN ESTADOENCOMIENDA es ON e.IDESTADOENCOMIENDA = es.IDESTADOENCOMIENDA
ORDER BY e.IDENCOMIENDA


GO
/****** Object:  StoredProcedure [dbo].[spListarEncomiendasEntregaDomicilio]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarEncomiendasEntregaDomicilio] 
 @prmintIdSucursal int
AS
SELECT e.IDENCOMIENDA, e.NOMBREDESTINATARIO, e.DIRECCIONDESTINATARIO, e.FECHALLEGADA, ee.DESCRIPCIONESTADO
FROM ENCOMIENDA e
	INNER JOIN ESTADOENCOMIENDA ee on e.IDESTADOENCOMIENDA = ee.IDESTADOENCOMIENDA
WHERE @prmintIdSucursal = e.IDSUCURSALDESTINO AND e.IDESTADOENCOMIENDA = 3 AND e.ADOMICILIO = 1 
ORDER BY IDENCOMIENDA

GO
/****** Object:  StoredProcedure [dbo].[spListarEncomiendasEntregaMinivan]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarEncomiendasEntregaMinivan] 
  @prmstrUsConductor varchar(20)
AS
SELECT e.IDENCOMIENDA, e.DESCRIPCIONENCOMIENDA, e.NOMBREDESTINATARIO, e.CODIGOENCOMIENDA, ee.DESCRIPCIONESTADO
FROM CARGAUNICA c
   INNER JOIN ENCOMIENDA e ON c.IDENCOMIENDA = e.IDENCOMIENDA
   INNER JOIN ESTADOENCOMIENDA ee ON e.IDESTADOENCOMIENDA = ee.IDESTADOENCOMIENDA
WHERE @prmstrUsConductor = c.NOMBRECONDUCTOR AND ee.IDESTADOENCOMIENDA = 5 AND c.ADOMICILIO=1 

GO
/****** Object:  StoredProcedure [dbo].[spListarEncomiendasEntregaSucursal]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarEncomiendasEntregaSucursal]  
 @prmintIdSucursal int
AS
SELECT p.NOMBRES,p.APELLIDOS,e.IDENCOMIENDA, e.NOMBREDESTINATARIO, e.DIRECCIONDESTINATARIO, e.FECHALLEGADA, ee.DESCRIPCIONESTADO,e.CODIGOENCOMIENDA
FROM ENCOMIENDA e
	INNER JOIN ESTADOENCOMIENDA ee on e.IDESTADOENCOMIENDA = ee.IDESTADOENCOMIENDA
	INNER JOIN PERSONA p on p.DNI = e.DNICLIENTE
WHERE @prmintIdSucursal = e.IDSUCURSALDESTINO AND e.IDESTADOENCOMIENDA = 3 AND ADOMICILIO = 0
ORDER BY IDENCOMIENDA
GO
/****** Object:  StoredProcedure [dbo].[spListarEncomiendasGerente]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarEncomiendasGerente] 
  @prmFechaInicio date,
  @prmFechaFin date
AS
SELECT e.IDENCOMIENDA,e.CODIGOENCOMIENDA,p.DNI, p.NOMBRES, p.APELLIDOS, r.NOMBRERUTA,e.NOMBREDESTINATARIO, 
       e.FECHAREGISTRO, eu.FECHAENTREGA, e.MONTOPAGO, es.DESCRIPCIONESTADO
FROM ENCOMIENDA e
	INNER JOIN ESTADOENCOMIENDA es ON e.IDESTADOENCOMIENDA = es.IDESTADOENCOMIENDA
	LEFT JOIN ENTREGAUNICA eu ON e.IDENCOMIENDA = eu.IDENCOMIENDA
	INNER JOIN CLIENTE c ON c.DNI = e.DNICLIENTE 
	INNER JOIN PERSONA p ON p.DNI = c.DNI
	INNER JOIN RUTAS r ON r.IDRUTA = e.IDRUTA
WHERE e.FECHAREGISTRO BETWEEN @prmFechaInicio AND @prmFechaFin
ORDER BY e.IDENCOMIENDA



GO
/****** Object:  StoredProcedure [dbo].[spListarEncomiendasSalida]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarEncomiendasSalida] 
 @prmintIdSucursal int
AS
SELECT e.IDENCOMIENDA, s.NOMBREAGENCIA, e.PESO, e.FECHALLEGADA, ee.DESCRIPCIONESTADO
FROM ENCOMIENDA e
	INNER JOIN SUCURSAL s on s.IDSUCURSAL = e.IDSUCURSALORIGEN
	INNER JOIN ESTADOENCOMIENDA ee on e.IDESTADOENCOMIENDA = ee.IDESTADOENCOMIENDA
WHERE @prmintIdSucursal = e.IDSUCURSALORIGEN AND e.IDESTADOENCOMIENDA = 1
ORDER BY IDENCOMIENDA


GO
/****** Object:  StoredProcedure [dbo].[spListarEncomiendasTrasladoBus]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarEncomiendasTrasladoBus] 
  @prmstrUsConductor varchar(20)
AS
SELECT e.IDENCOMIENDA, e.FECHALLEGADA, r.NOMBRERUTA, e.DESCRIPCIONENCOMIENDA, ee.DESCRIPCIONESTADO
FROM CARGAUNICA c
   INNER JOIN ENCOMIENDA e ON c.IDENCOMIENDA = e.IDENCOMIENDA
   INNER JOIN ESTADOENCOMIENDA ee ON e.IDESTADOENCOMIENDA = ee.IDESTADOENCOMIENDA
   INNER JOIN RUTAS r ON e.IDRUTA = r.IDRUTA
WHERE @prmstrUsConductor = c.NOMBRECONDUCTOR AND ee.IDESTADOENCOMIENDA = 2 

GO
/****** Object:  StoredProcedure [dbo].[spListarMinivan]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarMinivan]
as
SELECT IDVEHICULO, NUMEROPLACA FROM VEHICULO WHERE IDTIPOVEHICULO = 2 AND VEHICULOACTIVO = 1


GO
/****** Object:  StoredProcedure [dbo].[spListarPersonal]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarPersonal] 
@prmstrCadena varchar(100)
as
 SELECT p.IDPERSONAL,pe.DNI,pe.NOMBRES,pe.APELLIDOS,pe.TELEFONO,u.NOMBREUSUARIO,u.CONTRASENA,tu.DESCRIPCION FROM PERSONAL p
 INNER JOIN PERSONA pe ON p.DNI = pe.DNI
 INNER JOIN USUARIO u ON p.IDPERSONAL = u.IDPERSONAL
 INNER JOIN TIPOUSUARIO tu ON u.IDTIPOUSUARIO = tu.IDTIPOUSUARIO
 WHERE p.PERSONALACTIVO = 1 and ((pe.APELLIDOS LIKE '%'+@prmstrCadena+'%') OR (pe.NOMBRES LIKE '%'+@prmstrCadena+'%')) and u.IDTIPOUSUARIO>1
 ORDER BY p.IDPERSONAL

GO
/****** Object:  StoredProcedure [dbo].[spListarRutasCajero]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarRutasCajero]
@prmintIdCiudad int
as
SELECT IDRUTA,NOMBRERUTA FROM RUTAS WHERE IDCIUDADORIGEN = @prmintIdCiudad AND RUTAACTIVA = 1
ORDER BY IDRUTA


GO
/****** Object:  StoredProcedure [dbo].[spListarRutasGerente]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarRutasGerente] 
@prmstrCadena varchar(100)
as
SELECT r.IDRUTA,r.NOMBRERUTA,r.IDCIUDADORIGEN,r.IDCIUDADDESTINO,r.DESCRIPCIONRUTA,(co.NOMBRECIUDAD)as NOMBRECIUDADORIGEN,(cd.NOMBRECIUDAD) as NOMBRECIUDADDESTINO FROM RUTAS r
		INNER JOIN CIUDAD co ON r.IDCIUDADORIGEN = co.IDCIUDAD
		INNER JOIN CIUDAD cd ON r.IDCIUDADDESTINO = cd.IDCIUDAD

 WHERE RUTAACTIVA = 1 and (NOMBRERUTA LIKE '%'+@prmstrCadena+'%')
 ORDER BY R.IDRUTA


GO
/****** Object:  StoredProcedure [dbo].[spListarRutasPorEncomienda]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarRutasPorEncomienda]
AS
SELECT r.NOMBRERUTA, count(*) as Cantidad FROM RUTAS r
INNER JOIN ENCOMIENDA e ON e.IDRUTA = r.IDRUTA
GROUP BY r.NOMBRERUTA HAVING COUNT(*)>0

GO
/****** Object:  StoredProcedure [dbo].[spListarSucursal]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarSucursal] 
@prmstIdCiudad int
as
SELECT IDSUCURSAL,NOMBREAGENCIA FROM SUCURSAL WHERE IDCIUDAD = @prmstIdCiudad and SUCURSALACTIVA = 1 


GO
/****** Object:  StoredProcedure [dbo].[spListarSucursalesDestino]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarSucursalesDestino] 
@prmintIdRuta int
as
SELECT IDSUCURSAL,NOMBREAGENCIA FROM SUCURSAL WHERE idCiudad = (SELECT IDCIUDADDESTINO FROM RUTAS WHERE IDRUTA = @prmintIdRuta)


GO
/****** Object:  StoredProcedure [dbo].[spListarSucursalGerente]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarSucursalGerente]
as
SELECT IDSUCURSAL,NOMBREAGENCIA FROM SUCURSAL WHERE SUCURSALACTIVA = 1


GO
/****** Object:  StoredProcedure [dbo].[spListarTipoUsuario]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarTipoUsuario]
as
SELECT IDTIPOUSUARIO,DESCRIPCION FROM TIPOUSUARIO WHERE IDTIPOUSUARIO > 1


GO
/****** Object:  StoredProcedure [dbo].[spListarTipoVehiculo]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarTipoVehiculo]
as
SELECT IDTIPOVEHICULO,DESCRIPCIONTIPOVEHICULO FROM TIPOVEHICULO


GO
/****** Object:  StoredProcedure [dbo].[spListarVehiculos]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarVehiculos]
	@prmintTipoVehiculo int,
	@prmstrCadena varchar(100)
AS
SELECT IDVEHICULO,NUMEROPLACA,tv.DESCRIPCIONTIPOVEHICULO,CAPACIDADKILOS FROM VEHICULO v
  INNER JOIN TIPOVEHICULO tv ON tv.IDTIPOVEHICULO = v.IDTIPOVEHICULO
WHERE VEHICULOACTIVO = 1  and (NUMEROPLACA LIKE '%'+@prmstrCadena+'%') and tv.IDTIPOVEHICULO = @prmintTipoVehiculo


GO
/****** Object:  StoredProcedure [dbo].[spRegistrarEncomienda]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spRegistrarEncomienda] 
 @prmstrDniCliente char(8),
 @prmintIdRuta int,
 @prmdateFechaLlegada varchar(30),
 @prmstrNombreDestinatario varchar(100),
 @prmstrDireccionDestinatario varchar(200),
 @prmintSucursalOrigen int,
 @prmintSucursalDestino int,
 @prmstrUsuarioCajero varchar(20),
 @prmfloatPeso float,
 @prmfloatMontoPago float,
 @prmstrDescripcionDetalle varchar(200),
 @prmstrADdomicilio bit
 as
 BEGIN
	DECLARE @codigoEncomienda char(10) = ''
	DECLARE @contadorCodigo int = NEXT VALUE FOR Contador
	
	IF (@contadorCodigo < 10) 
		SET @codigoEncomienda= CONCAT('E00000000',@contadorCodigo);
	  ELSE IF (@contadorCodigo < 100) 
		 SET @codigoEncomienda= CONCAT('E0000000',@contadorCodigo);
	   ELSE IF (@contadorCodigo < 1000) 
		  SET @codigoEncomienda= CONCAT('E000000',@contadorCodigo);
		 ELSE IF (@contadorCodigo < 10000) 
		    SET @codigoEncomienda= CONCAT('E00000',@contadorCodigo);
			ELSE IF (@contadorCodigo < 100000) 
		      SET @codigoEncomienda= CONCAT('E0000',@contadorCodigo);
			  	ELSE IF (@contadorCodigo < 1000000) 
				  SET @codigoEncomienda= CONCAT('E000',@contadorCodigo);
					ELSE IF (@contadorCodigo < 10000000) 
					 SET @codigoEncomienda= CONCAT('E00',@contadorCodigo);
					 	ELSE IF (@contadorCodigo < 100000000) 
						 SET @codigoEncomienda= CONCAT('E0',@contadorCodigo);
						   	ELSE IF (@contadorCodigo < 100000000) 
						     SET @codigoEncomienda= CONCAT('E',@contadorCodigo);

	INSERT INTO ENCOMIENDA(CODIGOENCOMIENDA, DNICLIENTE,IDRUTA,FECHAREGISTRO,FECHALLEGADA,NOMBREDESTINATARIO,DIRECCIONDESTINATARIO,IDSUCURSALORIGEN
						   ,IDSUCURSALDESTINO,IDESTADOENCOMIENDA, PESO, MONTOPAGO, DESCRIPCIONENCOMIENDA, ADOMICILIO ,USUARIOCAJERO)

	VALUES(@codigoEncomienda, @prmstrDniCliente,@prmintIdRuta,getDate(),@prmdateFechaLlegada,@prmstrNombreDestinatario,@prmstrDireccionDestinatario,
		   @prmintSucursalOrigen,@prmintSucursalDestino,1,@prmfloatPeso, @prmfloatMontoPago, @prmstrDescripcionDetalle, @prmstrADdomicilio, @prmstrUsuarioCajero)

 END


GO
/****** Object:  StoredProcedure [dbo].[spTrasladarEncomienda]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTrasladarEncomienda]
	@prmintIdEncomienda int
AS
UPDATE ENCOMIENDA SET IDESTADOENCOMIENDA = 3 WHERE IDENCOMIENDA = @prmintIdEncomienda

GO
/****** Object:  StoredProcedure [dbo].[spValidarDniCliente]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spValidarDniCliente] 
@prmstrdniCliente char(8)
as
SELECT DNI FROM CLIENTE WHERE DNI = @prmstrdniCliente


GO
/****** Object:  StoredProcedure [dbo].[spVerificarAcceso]    Script Date: 29/11/2017 22:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spVerificarAcceso] 
@prmstrNombreUsuario varchar(20),
@prmstrContrasena varchar(20)
as
SELECT IDTIPOUSUARIO,IDPERSONAL,USUARIO.IDSUCURSAL,NOMBREUSUARIO,CONTRASENA,SUCURSAL.IDCIUDAD,SUCURSAL.NOMBREAGENCIA FROM USUARIO INNER JOIN SUCURSAL ON USUARIO.IDSUCURSAL = SUCURSAL.IDSUCURSAL WHERE NOMBREUSUARIO = @prmstrNombreUsuario AND CONTRASENA = @prmstrContrasena AND USUARIOACTIVO = 1
UPDATE USUARIO SET ULTIMASESION = GETDATE() WHERE NOMBREUSUARIO = @prmstrNombreUsuario AND CONTRASENA = @prmstrContrasena AND USUARIOACTIVO = 1


GO
